In [51]:
#importing modules
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import requests
from datetime import datetime, date, timedelta
import json

In [126]:
#User specified inputs
age_filter = 45 #possible options = 18, 45, None
vac_name = "COVAXIN" #possible options = "COVAXIN", "COVISHIELD", None
fee_type = None #possible options = "Free" "Paid" None

In [96]:
#system inputs
today_date = datetime.today().strftime('%d-%m-%Y')

In [56]:
#URL = r"https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/findByDistrict?district_id={}&date={}".format(149,today_date)
##The user-agent line helps identify the browser and operating system of the user(who generates the api request)
#pi = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36"}
#request_response = requests.get(URL, headers = pi)
#dict_req_resp = request_response.json()

In [127]:
for key,value in (dict_req_res.items()):
    #print(type(value))
    for element in range(len(value)):
        #print(value[element])
        for i,j in value[element].items():
            #print(str(i) +' : '+str (j))
            
            #age filter
            if age_filter is not None:
                if value[element].get('min_age_limit')==age_filter:
                    print('Vaccine for age group '+ str(age_filter) + ' availabe.')
                else:
                    print('Vaccine for age group '+ str(age_filter) + ' not availabe.')
            
            #Vaccine filter
            else:
                if vac_name is not None:
                    if value[element].get('vaccine')==vac_name:
                        print('Vaccine '+ vac_name + ' availabe.')
                else:
                    print('Vaccine '+ vac_name + ' not availabe.')
                    
                    
            #print(value[element].get('min_age_limit'))
            
            #df = pd.DataFrame.from_dict(value[element])

Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45
Vaccine for age group 45 availabe.
45

In [39]:
df = pd.DataFrame.from_dict(koot)

In [40]:
df

                                            sessions
0  {'center_id': 573240, 'name': 'Harish Hospital...
1  {'center_id': 609236, 'name': 'PHC PALKHEDI', ...
2  {'center_id': 619464, 'name': 'SONI HOSPITAL B...
3  {'center_id': 532239, 'name': 'PHC KUSHALGARH'...
4  {'center_id': 617912, 'name': 'CITY NURSING HO...
5  {'center_id': 532070, 'name': 'Bibirani', 'add...
6  {'center_id': 532399, 'name': 'Jodiya', 'addre...
7  {'center_id': 607248, 'name': 'Shahbad PHC', '...
8  {'center_id': 597279, 'name': 'Jatuwas Phc', '...

In [35]:
df = pd.DataFrame(list(koot.items()))

                                            sessions
0  {'center_id': 573240, 'name': 'Harish Hospital...
1  {'center_id': 609236, 'name': 'PHC PALKHEDI', ...
2  {'center_id': 619464, 'name': 'SONI HOSPITAL B...
3  {'center_id': 532239, 'name': 'PHC KUSHALGARH'...
4  {'center_id': 617912, 'name': 'CITY NURSING HO...
5  {'center_id': 532070, 'name': 'Bibirani', 'add...
6  {'center_id': 532399, 'name': 'Jodiya', 'addre...
7  {'center_id': 607248, 'name': 'Shahbad PHC', '...
8  {'center_id': 597279, 'name': 'Jatuwas Phc', '...

state https://cdn-api.co-vin.in/api/v2/admin/location/states
district 
pincode


filters for 
age - 18+
district - can be relaxed to search for entire delhi
pincode if needed (but prefer district)
vaccine - covaxin
paid/free
date

state id for delhi: 9

district id:
central delhi: 141
east delhi: 145
new dehi: 140
North Delhi: 146
North East Delhi: 147
North west dehi 143
Shahdra 148
South Delhi 149
SE delhi 144
SW delhi 150
W delhi 142

can have a greedy search for Delhi
if you get a match, then run a song, the song can differ as per the search match criteria and open up cowin platform.